email = # Your linkedin login
password = # Your linkedin password
gmaps_key = # Google Maps API Key
gsheets_main_key = # Google Sheets ID with the main table
gsheets_form_key = # Google Sheets ID with answers from optout form
group_id = # Linkedin group ID